name: "CI Check"

on: [pull_request, push]

jobs:
  ci:
    name: "CI Check"
    runs-on: "ubuntu-latest"

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v3
      with:
        node-version: '14'
    - run: npm install
    - run: npm build
